:root {
    --background-color: #1c1b20;
    --secondary-background-color: #2E313E;
    --theme-color: #565697;
    --theme-highlight-color: #7373BA;
    --text-color: #FFFFFF;
    --border-radius: 16px;
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    font-weight: 100;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    margin: 120px auto;
}

header h1,
header h2 {
    text-align: center;
}

header h2 {
    color: var(--theme-color);
}

h1 {
    font-size: 52px;
    font-weight: 900;
    line-height: .85;
}

h2 {
    margin: 0 var(--space-1) var(--space-2);
}

h3 {
    font-size: 14px;
}

p {
    margin: 0 var(--space-1) var(--space-1);
}

.content {
    margin: auto;
    width: 100%;
    max-width: 900px;
}

.block {
    padding: var(--space-2);
    margin: var(--space-2);
    width: calc(100% - (var(--space-2) * 4));
    position: relative;
    background-color: var(--secondary-background-color);
    border-radius: var(--border-radius);
    box-shadow: inset 4px 4px 4px -2px var(--theme-color);
}

.block h2 {
    display: inline-block;
}

canvas {
    display: block;
    margin: auto;
    background-color: var(--secondary-background-color);
}