:root {
    --background-color: #1c1b20;
    --secondary-background-color: #2E313E;
    --theme-color: #49a577;
    --theme-highlight-color: #6fbf97;
    --text-color: #FFFFFF;
    --border-radius: 16px;
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    font-weight: 100;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    margin: 120px auto;
}

header h1,
header h2 {
    text-align: center;
}

header h2 {
    color: var(--theme-color);
}

h1 {
    font-size: 52px;
    font-weight: 900;
    line-height: .85;
}

h2 {
    margin: 0 var(--space-1) var(--space-2);
}

h3 {
    font-size: 14px;
}

p {
    margin: 0 var(--space-1) var(--space-1);
}

.content {
    margin: auto;
    width: 100%;
    max-width: 900px;
}

.block {
    padding: var(--space-2);
    margin: var(--space-2);
    width: calc(100% - (var(--space-2) * 4));
    position: relative;
    background-color: var(--secondary-background-color);
    border-radius: var(--border-radius);
    box-shadow: inset 4px 4px 4px -2px var(--theme-color);
}

.block:has(canvas)
{
    text-align: center;
}

.block h2 {
    display: inline-block;
}

canvas {
    display: block;
    margin: auto;
    background-color: var(--secondary-background-color);
}


/* INPUT */

button,
select {
    font-weight: 900;
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    padding: var(--space-2) var(--space-3);
    color: var(--text-color);
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--theme-color);
    box-shadow: inset 1px 1px 4px -1px var(--text-color);
    cursor: pointer;
    transition: .2s;
}

select:focus {
    outline: none;
}

button {
    outline: 0px;
    margin-left: var(--space-1);
}

button:hover,
select:hover {
    background-color: var(--theme-highlight-color);
}

input,
textarea {
    font-family: 'Outfit', sans-serif;
    color: var(--text-color);
    outline: 0px;
    border: none;
}

.input-box {
    box-sizing: border-box;
    width: 100%;
    padding: var(--space-2) var(--space-3);
    font-size: 14px;
    background-color: var(--secondary-background-color);
    border-radius: var(--border-radius);
    box-shadow: inset 2px 2px 8px 4px var(--background-color);
}

#saveBtn {
    margin: var(--space-2) 0 0;
}

.space {
    margin: 60px auto 12px;
    color: var(--theme-color);
    text-align: center;
}


/* Slider */

input[type=range] {
    appearance: none;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    padding: var(--space-2);
    font-size: 14px;
    background-color: var(--secondary-background-color);
    border-radius: var(--border-radius);
    box-shadow: inset 2px 2px 8px 4px var(--background-color);
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: 42px;
    height: 24px;
    background: var(--theme-color);
    cursor: pointer;
    border-radius: var(--border-radius);
    box-shadow: 2px 2px 4px 2px var(--background-color);
    transition: .2s;
}

input[type=range]::-webkit-slider-thumb:hover {
    background-color: var(--theme-highlight-color);
}


/* Color palette */

.color-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    gap: var(--space-2);
}

.color-button {
    width: 40px;
    height: 40px;
}

.color-button:hover {
    opacity: 0.8;
}

.color-button.selected {
    box-shadow: inset 2px 2px 8px 4px var(--background-color);
    border: solid 2px var(--theme-color);
}

#galery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 3fr));
    gap: var(--space-2);
    padding: 10px;
}

#galery .block {
    margin: 0;
    width: calc(100% - var(--space-2) * 2);
    height: auto;
}

#galery img {
    width: 100%;
}

.canvas-cont
{
    display: inline-block;
    margin: auto;
}
.img-cont, .canvas-cont
{
    position: relative;
}
.img-cont:after, .canvas-cont:after {
    content: '';
    pointer-events: none;
    position: absolute;
    width: 76%;
    height: 88.5%;
    left: 50%;
    top: 50%;
    background-image: radial-gradient(circle at 36% 34%, rgba(255, 255, 255, .2), transparent, rgba(0, 0, 0, .6));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}